USE [master]
GO
/****** Object:  Database [YNDHDotNetCore]    Script Date: 4/24/2024 7:07:04 AM ******/
CREATE DATABASE [YNDHDotNetCore] ON  PRIMARY 
( NAME = N'YNDHDotNetCore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.YENANDAHTET\MSSQL\DATA\YNDHDotNetCore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'YNDHDotNetCore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.YENANDAHTET\MSSQL\DATA\YNDHDotNetCore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [YNDHDotNetCore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [YNDHDotNetCore]
GO
/****** Object:  Table [dbo].[Tbl_Blog]    Script Date: 4/24/2024 7:07:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Blog](
	[BlogId] [int] IDENTITY(1,1) NOT NULL,
	[BlogTitle] [varchar](50) NOT NULL,
	[BlogAuthor] [varchar](50) NOT NULL,
	[BlogContent] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Tbl_Blog] ON 

INSERT [dbo].[Tbl_Blog] ([BlogId], [BlogTitle], [BlogAuthor], [BlogContent]) VALUES (1, N'Test Title', N'Test Auther', N'Test Content')
INSERT [dbo].[Tbl_Blog] ([BlogId], [BlogTitle], [BlogAuthor], [BlogContent]) VALUES (2, N'Test Title', N'Test Auther', N'Test Content')
INSERT [dbo].[Tbl_Blog] ([BlogId], [BlogTitle], [BlogAuthor], [BlogContent]) VALUES (3, N'Test Title', N'Test Auther', N'Test Content')
SET IDENTITY_INSERT [dbo].[Tbl_Blog] OFF
GO
USE [master]
GO
