
<h2>New Blog</h2>

<form action="/Blog/Save" method="post">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" name="BlogTitle" placeholder="Title...">
        <label>Title</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" name="BlogAuthor" placeholder="Author...">
        <label>Author</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" name="BlogContent" placeholder="Content...">
        <label>Content</label>
    </div>

    <a href="/Blog" class="btn btn-dark">Back</a>
    <button type="submit" class="btn btn-success">Save</button>
</form>
